<!DOCTYPE html>
<html ng-app="locust-reporter" ng-controller="mainCtrl">

    <head>

        <link rel="stylesheet" href="./w3.css">

        <style>
            table,
            th,
            td {
                border: 1px solid black;
                padding: 5px;
            }

            table {
                border-collapse: collapse;
                margin: 10px;
            }

            select {
                font-weight: bold;
            }

            select option {
                margin: 5px;
                padding: 5px;
                font-weight: bold;
            }
        </style>
    </head>

    <body>

        <div class="w3-panel ">
            <p class="s3-serif w3-xxlarge">
                Load Testing Report : {{:: meta.service}} - {{:: meta.date | date : 'medium'}}
            </p>
        </div>

        <div class="w3-row">
            <div class=" w3-col m6 s12">
                <div class="w3-container ">
                    <select class="w3-select w3-border" ng-model="selectedAction" ng-change="actionSelected()">
                        <option ng-repeat="x in actionList | orderBy : 'value'" value="{{x.index}}">{{x.value}}</option>
                    </select>
                </div>
                <div class="w3-container ">
                    <chart options="chartOptions">Placeholder for generic chart</chart>
                </div>

                <div>
                    <table class="w3-table-all w3-hoverable w3-card-1">
                        <tr>
                            <th>Total Requests</th>
                            <th ng-class="{'w3-red' : requestDataArray[selectedAction][3] > 0}">Failure</th>
                            <th>Average Response Time</th>
                            <th>Min Response Time</th>
                            <th>Max Response Time</th>
                            <th>Average Content Size</th>
                            <th>Requests/s</th>
                        </tr>
                        <tr>
                            <td>{{requestDataArray[selectedAction][2]}}</td>
                            <td ng-class="{'w3-red' : requestDataArray[selectedAction][3] > 0}">{{requestDataArray[selectedAction][3]}}</td>
                            <td>{{requestDataArray[selectedAction][5]}} millisec</td>
                            <td>{{requestDataArray[selectedAction][6]}} millisec</td>
                            <td>{{requestDataArray[selectedAction][7]}} millisec</td>
                            <td>{{requestDataArray[selectedAction][8]}} bytes</td>
                            <td>{{requestDataArray[selectedAction][9]}}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="w3-col m2 ">
                &nbsp;
            </div>
        </div>
        <script src="./js/angular.min.js"></script>
        <script src="./js/angular-charts.min.js"></script>
        <script>
            // ].replace(new RegExp('"', 'g'), ''));








            function mainCtrl($scope, $http) {

                $scope.chartOptions = {
                    title: {
                        text: 'Temperature data'
                    },
                    xAxis: {
                        categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
                            'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
                    },

                    series: [{
                        data: [29.9, 71.5, 106.4, 129.2, 144.0, 176.0, 135.6, 148.5, 216.4, 194.1, 95.6, 54.4]
                    }]
                };


                $scope.updateChart = function (actionIndex) {

                    let categories = $scope.headers;
                    let xVals = $scope.dataArray[actionIndex];

                    $scope.chartOptions = {
                        title: {
                            text: 'API Response Graph ',
                            style: {
                                color: '#000',
                                font: 'bold 16px "Trebuchet MS", Verdana, sans-serif'
                            }
                        },
                        xAxis: {
                            categories: categories.slice(2),
                            title: {
                                text: '<b>Load Percentage</b>',
                                style: {
                                    color: '#000',
                                    font: 'bold 16px "Trebuchet MS", Verdana, sans-serif'
                                }
                            }
                        },
                        plotOptions: {
                            line: {
                                dataLabels: {
                                    enabled: true
                                }
                            }
                        },
                        yAxis: {
                            labels: {
                                formatter: function () {
                                    return this.value + ' millisec';
                                }
                            },
                            title: {
                                text: '<b>Response Time</b>',
                                style: {
                                    color: '#000',
                                    font: 'bold 16px "Trebuchet MS", Verdana, sans-serif'
                                }
                            }
                        },
                        legend: {
                            itemStyle: {
                                font: '9pt Trebuchet MS, Verdana, sans-serif',
                                color: 'black'
                            },
                            itemHoverStyle: {
                                color: 'gray'
                            }
                        },
                        tooltip: {
                            formatter: function () {
                                return 'Response time at <b>' + this.x + '</b> is <b>' + this.y + ' millisec </b>';
                            }
                        },
                        series: [{
                            data: xVals.slice(2).map(Number),
                            name: 'Response Time',
                            showInLegend: false
                        }]
                    };
                };

                var dataArray = [];
                var requestDataArray = [];
                var nameMethodArray = [];

                $scope.readCSV = function () {

                    $http.get('./meta.json').then(function (data) {
                        $scope.meta = data.data;
                    }, function (err) {
                        console.log(err);
                    })

                    $http.get('./oppo_distribution.csv').then(function (data) {
                        $scope.processData(data.data)
                    }, function (err) {
                        console.log(err);
                    })

                    $http.get('./load_requests.csv').then(function (data) {
                        $scope.processRequestsData(data.data, true)
                    }, function (err) {
                        console.log(err);
                    })

                };



                $scope.processRequestsData = function (allText, requestCsv) {
                    requestDataArray = [];
                    allText = allText.replace(new RegExp('"', 'g'), '')
                    var allTextLines = allText.split(/\r\n|\n/);
                    var headers = allTextLines[0].split(',');
                    for (var i = 1; i < allTextLines.length - 1; i++) {
                        var data = allTextLines[i].split(',');
                        requestDataArray.push(data);
                    }

                    $scope.requestDataArray = requestDataArray;
                }


                $scope.processData = function (allText) {
                    dataArray = [];

                    allText = allText.replace(new RegExp('"', 'g'), '')

                    var allTextLines = allText.split(/\r\n|\n/);
                    var headers = allTextLines[0].split(',');
                    for (var i = 1; i < allTextLines.length - 1; i++) {

                        var data = allTextLines[i].split(',');

                        nameMethodArray.push({ index: i - 1, value: data[0] });
                        dataArray.push(data);
                    }

                    $scope.actionList = nameMethodArray;
                    $scope.headers = headers;
                    $scope.selectedAction = '0';
                    $scope.dataArray = dataArray;

                    $scope.updateChart($scope.selectedAction);

                    // split content based on new line
                    var allTextLines = allText.split(/\r\n|\n/);
                    var headers = allTextLines[0].split(',');
                    var lines = [];

                    for (var i = 0; i < allTextLines.length; i++) {
                        // split content based on comma
                        var data = allTextLines[i].split(',');
                        if (data.length == headers.length) {
                            var tarr = [];
                            for (var j = 0; j < headers.length; j++) {
                                tarr.push(data[j]);
                            }
                            lines.push(tarr);
                        }
                    }
                    $scope.data = lines;
                };

                $scope.actionSelected = function () {
                    console.log('you have selected action => ' + $scope.actionList[$scope.selectedAction].value);
                    $scope.updateChart($scope.selectedAction);
                }

                $scope.readCSV();
            }

            var app = angular.module("locust-reporter", []);
            app.controller("mainCtrl", mainCtrl);
            app.directive('chart', function () {
                return {
                    restrict: 'E',
                    template: '<div ></div>',
                    scope: {
                        options: '='
                    },
                    controller: function ($scope, $element) {
                        $scope.$watch('options', function (value) {
                            Highcharts.chart($element[0], $scope.options);
                        });
                    }
                };
            })
        </script>
    </body>

</html>